<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Text to INSERTs</title>
</head>
<body class="central-wrap">
<h1>Text to INSERTs</h1>
<form class="central" method="post" action="/">
    <label for="text_text">Source text</label>
    <textarea id="text_text" name="text_text"></textarea>
    <label for="text_fname">Output filename</label>
    <input id="text_fname" type="text" name="text_fname">
    <input type="submit" name="form_submit" value="Process">
</form>
</body>
</html>